.landing {
    position: relative;
    background: url('./assets/landing.jpg') no-repeat center center/cover;
    height: 100vh;
}

.dark-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
}

.landing-inner {
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.landing-inner form {
    width: 30%;
}

.landing-inner h1,
.landing-inner h4,
.landing-inner p {
    color: white;
}

.spinner-container {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

/* Post button */
.post-button {
    padding-top: 0;
    background: transparent;
    border: none;
}

.post-button:hover {
    background: transparent;
}

a.post-button.btn:focus,
a.post-button.btn:active {
    outline: none;
    background: transparent;
    border: none;
    box-shadow: none;
}

button.post-button.btn:focus,
button.post-button.btn:active {
    outline: none;
    background: transparent;
    border: none;
    box-shadow: none;
}

/* Floating add button */
.btn-floating {
    position: fixed;
    right: 3rem;
    bottom: 3rem;
    background: transparent;
    border: none;
}

.btn-floating:hover {
    background: transparent;
}

.btn-floating:focus,
.btn-floating:active {
    outline: none;
    background: transparent;
    border: none;
    box-shadow: none;
}

/* Add new post tooltip */
.tooltip {
    background: transparent;
}

.tooltip .arrow::before {
    border-left-color: #78c2ad;
}

.tooltip-inner {
    background: #78c2ad;
}

/* Post border thicker */
.border-success,
.border-warning,
.border-danger {
    border-width: 2px;
}

/* Post title */
.post-title {
    margin-bottom: 0.5rem;
}

.news-single-row {
    object-fit: cover;
    width: 97vw;
    max-height: 30vh;
}

.card-img-top-custom {
    width: 10rem;
}

.news-item {
    /* max-height: 170px; */
}

.news-item-image {
    height: 170px;
    object-fit: cover;
    width: 100%;
    border-radius: 16px;
}

.file {
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    position: absolute;
}

.file-input label {
    display: block;
    position: relative;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    background: linear-gradient(40deg, #ff6ec4, #7873f5);
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s ease-out;
}

.file-name {
    position: absolute;
    bottom: -35px;
    left: 10px;
    font-size: 0.85rem;
    color: #555;
}

input:hover + label,
input:focus + label {
    transform: scale(1.02);
}

/* Adding an outline to the label on focus */
input:focus + label {
    outline: 1px solid #000;
    outline: -webkit-focus-ring-color auto 2px;
}

::-webkit-file-upload-button {
    display: none;
}

.maxH-150 {
    max-height: 200px;
}

.login-btn {
    position: absolute;
    right: 10px;
}

.maxH-250 {
    height: 400px;
}

.me-auto {
    margin-right: auto;
}

.filter__menu-list {
    background-color: gray;
}

.filter__menu-list .filter__option--is-focused {
    background-color: darkorange;
}

.country-languages {
    background-color: gray;
}

.country-languages button {
    color: white;
}

.country-languages ul li {
    color: black;
}

.news-card-body {
    height: 250px;
}

.steps-wrapper .step-wrapper {
    width: 285px;
    height: 200px;
    margin: 0 auto;
}

.steps-wrapper .step {
    width: 10rem;
    height: 10rem;
    border: 0.3rem solid var(--white);
    background: #fff;
    box-shadow: 0 2px 17px 0 rgb(168 173 199 / 59%);
    border-radius: 1rem;
    font-size: 1rem;
    color: var(--white);
    padding: 1rem;
    text-align: center;
    margin: 0 auto;
    position: relative;
}

.steps-wrapper .step:before,
.steps-wrapper .step:after {
    content: '';
    width: 16rem;
    height: 2.5rem;
    position: absolute;
    left: -3.2rem;
}

.steps-wrapper .step .step-arrow {
    height: 0.4rem;
    width: 4rem;
    position: absolute;
    right: -7rem;
    top: 52%;
}

.steps-wrapper .step .step-arrow {
    height: 0.4rem;
    width: 4rem;
    position: absolute;
    right: -6rem;
    top: 52%;
    background: #fff;
}

@media (max-width: 768px) {
    .steps-wrapper .step .step-arrow {
        bottom: -4rem;
        top: auto;
        left: 50%;
        width: 0.4rem;
        height: 4rem;
    }
}

.steps-wrapper .step .step-title {
    font-size: 0.6rem;
    font-family: Lato-Black, sans-serif;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

section {
    padding: 8rem 0;
}

.steps-wrapper .step-1 {
    background: #fc5732;
}

.steps-wrapper .step-2 {
    background: #7b3dd9;
}

.steps-wrapper .step-3 {
    background: #185aec;
}

.steps-wrapper .step-4 {
    background: #00b59a;
}

/* nav bar */
.navbar {
    z-index: 2;
}
/*---To center elements of the navbar (mobile)---*/

.navbar-brand {
    font-size: 1rem;
    z-index: 2;
}

/*---Custom AnimateCSS mobile menu items---*/
.nav-item {
    -webkit-animation-duration: 0; /* Chrome 3-42 & Safari 4-8 & Opera 15-29 */
    -moz-animation-duration: 0.8s; /* Firefox 5-15 */
    -o-animation-duration: 0.8s; /* Opera 12-14 */
    animation-duration: 0;
}

@media only screen and (max-width: 991px) {
    #basic-navbar-nav {
        height: 100vh !important;
    }
}

@media only screen and (min-device-width: 992px) {
    #basic-navbar-nav {
        height: auto;
    }
}
