@import 'assets/css/global.scss';

@media (min-width: 992px) {
    section#banner {
        margin-bottom: 200px;
    }
}

section#banner {
    background-image: linear-gradient(to right, #a517ba, #5f1782);
    color: #fff;

    .promo-title {
        font-size: 40px;
        font-weight: 600;
    }

    .img-fluid {
        width: 200px;
    }

    .bottom-img {
        width: 100%;
        position: absolute;
    }
}

section#services {
    .title:before {
        content: '';
        background: #7b1798;
        height: 5px;
        width: 200px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        transform: translateY(70px);
    }
}

section#my-profile {
    img.my-avatar {
        width: 100%;
        border-radius: 16px;
    }
}

section#my-project-work {
    img.my-project-item {
        width: 100%;
        border-radius: 16px;
        height: 150px;
    }

    .imgHolder {
        position: relative;

        .wrapper-text {
            background: rgba(70, 85, 85, 0.5);
            position: absolute;
            bottom: 0;
            width: 100%;
            text-align: center;
        }

        p {
            color: white;
        }
    }

    // .my-project-label {
    //     position: relative;
    //     top: -20px;
    // }
}
